
@font-face {
  font-family: 'neue montreal';
  src: url('./fonts/neuemontreal/PPNeueMontreal-Bold.woff2') format('woff2'),
       url('./fonts/neuemontreal/PPNeueMontreal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'neue montreal';
  src: url('./fonts/neuemontreal/PPNeueMontreal-Medium.woff2') format('woff2'),
       url('./fonts/neuemontreal/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neue montreal';
  src: url('./fonts/neuemontreal/PPNeueMontreal-Book.woff2') format('woff2'),
       url('./fonts/neuemontreal/PPNeueMontreal-Book.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}


body {
  --background: #F3F3F3;
  --card: #e7e6e4;
  --border: #292929;
  --text: #33354D;
  --accent: #292929;
  --font: 'neue montreal', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;;

  margin: 0;
  font-family: Uncut Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar */

.nav {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  padding: 2rem;
  z-index: 1;
}

.nav span, .nav a {
  color: var(--text);
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.nav img {
  height: 30px;
}

@media (max-width: 1080px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav span, .nav a {
    padding-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .links ul {
    flex-wrap: wrap;
  }

  .links ul li{
    padding-bottom: 10px;
  }
}

/* Page Headers */

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  padding: 2rem;
  margin-top: 100px;
}

.header a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}
.header a:hover {
  color: #f7ccbb;
}

.header .title h1{
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
}

.header .description p{
  max-width: 600px;
  text-align: right;
  font-size: 12px;
}

@media (max-width: 640px) {
  .header {
    flex-direction: column;
  }

  .header .title h1{
    margin-bottom: 1rem;
  }
.header .description p{

  text-align: left;

}
}


.links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.links ul li a{
  font-size: 14px;
  background-color: transparent;
  padding: 6px 20px;
  border: 1px solid var(--border);
  border-radius: 50px;
  color: var(--text);
  text-decoration: none;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.links ul li a:hover{
  background-color: #ffffff;
  border: 1px solid var(--border);
  transition: .5s;
}

.links ul li img{
  width: 14px;
  display: inline;
  margin: 2px;
  padding: 2px 0px 2px 4px;
}

.links ul li svg.dwnld {
  transform: rotate(135deg);
}

.links ul li svg.eml {
  transform: rotate(45deg);
}


.links ul li svg {
  width: 14px;
  height: 14px;
  padding: 2.5px;
  margin-left: 2px;
}

.links ul li svg .st0{
  fill:none;
  stroke:var(--text);
  stroke-width:25;
  stroke-linejoin:bevel;
  stroke-miterlimit:10;
}


.portfolio * {
  transition: .2s;
}



.portfolio__container {
  padding: 40px;
}

.portfolio__container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.portfolio__container ul li{
  width: 16%;
  background-color: transparent;
  border: 1px solid var(--border);
  padding: 10px;
  margin: .5%;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}

.portfolio__container ul li:hover{
  background-color: var(--card);
  transform: scale(0.99);
}

.portfolio__container ul li button {
  display: block;
  text-decoration: none;
  color: var(--text);
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.portfolio__container ul li .card_preview {
  width: 100%;
  height: 300px;
  position: relative;
}

  .portfolio__container ul li .card_preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .portfolio__container ul li .card_preview img:nth-child(2){
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .portfolio__container ul li:hover .card_preview img:nth-child(2){
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
  }

.portfolio__container ul li h1 {
  font-size: 14px;
  padding-bottom: 5px;
}

.portfolio__container ul li p {
  font-size: 12px;
  padding-bottom: 10px;
}

.portfolio__container ul li span {
  display: block;
  padding-top: 10px;
  font-weight: 800;
  color: var(--accent);
  font-size: 12px;
}

@media (max-width: 2550px) {
  .portfolio__container ul li{
    width: 24%;
  }
}

@media (max-width: 1920px) {
  .portfolio__container ul li{
    width: 32%;
  }
}

@media (max-width: 1430px) {
  .portfolio__container ul li{
    width: 32%;
  }
}

@media (max-width: 1080px) {
  .portfolio__container ul li{
    width: 49%;
  }
}

@media (max-width: 640px) {
  .portfolio__container {
    padding: 20px;
  }
  .portfolio__container ul li{
    width: 99%;
  }
}




.portfolio .title {
  padding: 2rem;
  max-width: 1430px;
  line-height: 130%;
  font-size: 3rem;
  font-family: var(--font);
  color: var(--text);
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.portfolio .title h2 {
  font-weight: normal;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem 2rem 2rem;
  flex-wrap: wrap;
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex: 1;
}

.filter-tag {
  font-size: 14px;
  background-color: transparent;
  padding: 6px 20px;
  border: 1px solid var(--border);
  border-radius: 50px;
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font);
  transition: .5s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-tag:hover {
  background-color: #ffffff;
  border: 1px solid var(--border);
}

.filter-tag.selected {
  background-color: var(--accent);
  color: var(--background);
  border: 1px solid var(--accent);
}

.filter-tag.selected:hover {
  background-color: var(--accent);
  color: var(--background);
}

.clear-filter-inline {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  padding-left: 4px;
}


@media (max-width: 640px) {
  .filter-container {
    padding: 0 1rem 1rem 1rem;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #000000cd;
  padding: 20px;
  z-index: 2;
}

@media (max-width: 1080px) {
  .modal {
    padding: 20px;
  }
}


.frame {
  width: 100%;border-radius: 5px;
  text-align: center;
  background-color: var(--background);
  padding: 30px;
  
}

@media (max-width: 1080px) {
  .frame {

    padding: 20px;
  }
}


.frame .head {
  display: flex;

  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  position: relative;
}
.frame #back {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: transparent;
  padding: 7.5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 20px;
  z-index: 3;
}
@media (max-width: 840px) {
  .frame #back {
    right: 20px;
    top: 20px;

  }
}
.frame #back:hover {
  background-color: var(--card);
}
.frame #back svg {
  width: 20px;
  height: 20px;
  color: var(--text);
}
.frame .head .info {
  max-width: 500px;

}
.frame .head .info .see-full-site {
  padding: 5px;
  margin: 10px 0 0 0; 
  background-color: transparent;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  width: fit-content;
  color: var(--text);
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;

}
.frame .head .info .see-full-site:hover { 
  background-color: var(--card);
}
.frame .head h1{
  font-size: 36px;
  text-align: left;

} 
.frame .head p{
  font-size: 14px;
  text-align: left;

} 

.frame button {
  width: 30px;
  height: 30px;
  padding: 2.5px;
  margin: 10px 5px 5px 5px; 
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.frame button:hover { 
  background-color: var(--card);
}

.frame button svg {
  color: #485262;
}

.frame .iframe-wrapper {
  display: flex;

  justify-content: center;
}

.frame .iframe-wrapper iframe {
  min-width: 1180px;
  margin: 0 auto;
  height: 700px;
  border: none;
  box-shadow: 0px 3px 10px rgba(133, 133, 133, 0.156);
  border-radius: 10px;
  background-color: #fff;

  -moz-transform: scale(0.75, 0.75); 
  -webkit-transform: scale(0.75, 0.75); 
  -o-transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75); 
  -moz-transform-origin: top center;
  -webkit-transform-origin: top center;
  -o-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}

@media (max-width: 1080px) {
  .frame .iframe-wrapper iframe {
    -moz-transform: scale(0.45, 0.45); 
    -webkit-transform: scale(0.75, 0.75); 
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.55, 0.55); 
    -moz-transform-origin: top center;
    -webkit-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
}

@media (max-width: 840px) {
  .frame .head {
    padding-top: 40px;
  }
  .frame .iframe-wrapper iframe {
    -moz-transform: scale(0.4, 0.4); 
    -webkit-transform: scale(0.75, 0.75); 
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.45, 0.45); 
    -moz-transform-origin: top center;
    -webkit-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
}

@media (max-width: 640px) {
  .frame .iframe-wrapper iframe {
    -moz-transform: scale(0.35, 0.35); 
    -webkit-transform: scale(0.75, 0.75); 
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.35, 0.35); 
    -moz-transform-origin: top center;
    -webkit-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
}

@media (max-width: 430px) {
  .frame .iframe-wrapper iframe {
    -moz-transform: scale(0.25, 0.25); 
    -webkit-transform: scale(0.75, 0.75); 
    -o-transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    transform: scale(0.25, 0.25); 
    -moz-transform-origin: top center;
    -webkit-transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
  }
}

.frame iframe.mobile {
  min-width: 368px;
  height: 650px;
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-wrapper img {
  width: 100%;
  margin: 0 auto;
  max-width: 1080px;
  height: auto;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
}




.video-wrapper  {
  padding: 20px;
  width: 100%;
}

.video-wrapper iframe{
  min-width: 1080px;
  margin: 0 auto;
  height: 700px;
  border: none;
  box-shadow: 0px 3px 10px rgba(133, 133, 133, 0.156);
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 1280px) {
  .video-wrapper iframe{
    min-width: unset;
    width: 100%;
    margin: 0 auto;
    height: unset;
    border: none;
    box-shadow: 0px 3px 10px rgba(133, 133, 133, 0.156);
    border-radius: 10px;
    background-color: #fff;
  }
}



/* Home */

.home {
  background-size: cover;
  position: relative;
  padding-top: 5rem;

  background-color: #EBE2D9;
}

.home section.hero {
  max-height: 840px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0;
  margin: 4rem 0;
}

.home section {
  padding: 4rem 0;
}

.home section.hero h1 {

  max-width: 1430px;
  margin: 0 2rem;
  line-height: 90%;
  font-size: 8rem;
  font-family: var(--font);
  color: var(--text);
  font-weight: normal;
  font-style: normal;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
}

.home section.hero h1 span {
  width: fit-content;
  padding-right: 50px;
}

.home h2 {
  max-width: 1430px;
  margin: 0 2rem;
  font-size: 64px;
  font-family: var(--font);
  color: var(--text);
  font-weight: normal;
  font-style: normal;
}

.home h4 {
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0 2rem;
  font-weight: normal;
}

.home img.hi {
  display: inline;
}

.home img.arra {
  margin: 0 2rem;
  width: 10px;
}


.home img.examples {
  width: 100%;
}

@media (max-width: 1080px) {
  .home {
    background-size: cover;
    position: relative;
    padding-top: 8rem;
  
    background-color: #EBE2D9;
  }
  .home section.hero h1{
    justify-content: center;
    font-size: 10vw;
  }
  .home section.hero h1 span {
    width: fit-content;
    padding: 0px 20px;
  }
  .home h4 {
    text-align: center;
    margin: 0 auto;
  }
  .home img.arra {
    margin: 0 auto;
  }

  .home h2 {
    margin: 0 auto;
    font-size: 6vw;
    text-align: center;
    padding: 0 2rem;
  }
  
}

@media (max-width: 540px) {
  .home section.hero h1{
    justify-content: center;
    font-size: 12vw;
    margin: 0 1rem;
  }
  .home section.hero h1 span {
    width: fit-content;
    padding: 0px 10px;
  }
}

.home .boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  text-align: left;
  
}

.home .box {
  width: 32%;
  padding: 3rem;
  backdrop-filter: blur(16px) brightness(105%);
  border-radius: 20px;
  border: 1px solid #3535356c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  
}

.home .box .badge {
  position: absolute;
  top: -30px;
  left: 30px;
  height: 30px;
  width: auto
}


.home .box h3 {
  text-align: left;
  font-size: 32px;
  font-family: var(--font);
  font-weight: 400;
  font-style: normal;
  padding-bottom: 2rem;
}

.home .box p {
  padding-bottom: 2rem;
  text-align: left;
}


.home .box a {
  font-size: 14px;
  background-color: transparent;
  padding: 6px 20px;
  border: 1px solid var(--border);
  border-radius: 50px;
  color: var(--text);
  text-decoration: none;
  margin-right: 1rem;
  margin-top: 1rem; 
  display: inline-block;
  width: fit-content;
  cursor: pointer;
}

.home .box a:hover{
  background-color: #edd1bb;
  border: 1px solid var(--border);
  transition: .5s;
}

.home .box a svg {
  width: 14px;
  height: 14px;
  padding: 2.5px;
  margin-left: 2px;
}

.home .box a .st0{
  fill:none;
  stroke:var(--text);
  stroke-width:25;
  stroke-linejoin:bevel;
  stroke-miterlimit:10;
}

.home .box img {
  height: 30px;
  padding-right: 10px;
}

@media (max-width: 1080px) {
  .home .boxes {
    flex-direction: column;
    
  }

  .home .box {
    width: 100%;
    margin-bottom: 2rem;
  } 
}

@media (max-width: 540px) {
  .home .boxes {
   padding: 1rem;
    
  }
  
  .home .box {
   padding: 2rem;
   margin-bottom: 1rem;
  }
  .home .box h3 {
    font-size: 24px;
  }
  
}

.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.footer p{
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: 12px;
  width: 100%;
}